body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

#checkins {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 100px;
}

.card {
    width: 800px; /* Largura do cartão */
    height: 500px; /* Altura do cartão */
    background-size: cover; /* Faz a imagem cobrir todo o cartão */
    background-position: center; /* Centraliza a imagem */
    border-radius: 8px;
    display: flex;
    align-items: flex-end; /* Faz o texto ficar na parte inferior */
    justify-content: center;
    padding: 20px;
    color: white; /* Cor do texto para ficar visível */
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Deixa o texto mais legível */
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
